#header {
  background-color: #b3ffcc;
  width: 100%;
  height: 100px;
  text-align: center;
  font-weight: bold;
}

h3 {
  height: 10%;
  border: 5px;
  border-style: dotted;
  color: red;
}

.loginForm {
  width: 40%;
  padding: 80px 100px 100px 100px;
  margin: 150px 10px 50px 500px;
}

.entertainment {
  border: 1px;
  border-style: dotted;
}

.userwall {
  border: 1px;
  border-style: dotted;
}

.userfriends {
  border: 1px;
  border-style: dotted;
}

.postbutton {
  margin: 6px 90%;
}
